#b1, #b2, #b3, #b4, #b5, #b6, #b7, #b8, #b9, #reset{
	width: 50px;
	height: 50px;
	border: 2px;
	border-style: solid;
	border-color: blue;
	float: left;
	font-family: arial;
	font-size: 30px;
	background: transparent;
	color: blue;
}
h3{
    margin-left:20%;
    margin-top:2%;
    font-family:arial;
    text-decoration: blink;
    text-shadow: 2px 2px yellow;
}
#head{
	color: blue;
	text-decoration: blink;
	text-shadow: 2px 2px yellow;
	font-family: arial;
	font-size: 15px;
	height: 50px;
	width: 50x;
	margin-left: 0px;
	margin-right: 0px;
	vertical-align: center;
	text-align: center;
}
body{
	background-repeat: no-repeat;
	background-size: 100%;
	width: 100%;
	height: 95%;
	margin-top: 5%;
}
#background{
	background-image: url("image.jpg");
	background-size: cover;
}
#td{
	width: 100px;
	height: 25px;
	border: 0px;
	border-style: solid;
	border-color: blue;
	font-family: arial;
	font-size: 20px;
	background: transparent;
	color: blue;
}
#td1{
	width:100px;
	height: 40px;
	background: transparent;
	border: 3px;
	border-style: solid;
	border-color: blue;
	font-family: arial;
	font-size: 25px;
	color: blue;
	border-radius: 15px;
}
#player1, #player2, #pl1, #pl2, #draw{
	width: 110px;
	height: 25px;
	background: transparent;
	text-align: center;
	font-size: 20px;
	border-radius: 15px;
}
fieldset{
	margin-left: 10%;
	margin-right: 10%;
}